body {
    padding: 0;
    margin: 0;
}
.topbar {
    height: 12vh;
    background: #3B5998;
    color: white;

}
.container {
    width: 74vw;
    margin: auto;
    height: 100%;
}
.flex-right {
    justify-content: flex-end;
}
.flexbox {
    display: flex;
}
.topbar .left-division {
    flex-grow: 1;
    line-height: 17vh;
}
.topbar .right-division {
    flex-grow: 1;
}
.top-margin {
    margin-top: 17px;
}
.input-box-top{
    margin-right: 10px;
}
label{
    font-size: 14px;
}
a {
    color: #6977BD;
}
.login-button {
    background:rgb(74,110,182);
    color: white;
    font-weight: bold;
    border: none;
    padding: 3.3px;
}
.forget-password {
    margin-top: 1px;
    margin-bottom: 1px;
}
.main-body{
    height: 88vh;
    background: linear-gradient(0deg,#D6DBE9,#FDFDFE);
}
h1,h3 {
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-weight: lighter;
}
.main-body .left-division {
    padding: 35px 0px;
}
.info-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0E385F;
    font-size: 15pt;
    line-height: 19pt;;
    width: 80%;
}
.main-body input[type="text"] {
    width: 85%;
    padding: 8px;
    font-size: 20px;
    margin-right: 10px;
    border: solid 1px rgb(128,128,128,0.493);
    border-radius: 5px;
}
.big input[type="text"] {
    width: 92.5%;
    padding: 8px;
    font-size: 20px;
    margin-top: 8px;
    border: solid 1px rgb(128,128,128,0.493);
    border-radius: 5px;
}
.birthday {
    font-size: 16px;
    font-weight: bold;
    color: #9094A8;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 12px;
    color: #666666;
    width: 300px;


}
.main-body input[type="radio"]{
    margin-right: 40px;
}
.radio {
    margin-top: 10px;
}
select {
    width: 60px;
    padding: 3px;
    border: solid 1px rgb(128,128,128,0.493);
    margin-top: 5px;
}
.big-green-button {
    margin-top: 10px;
    font-size: 18px;
    padding: 7px 57px;
    font-weight: bolder;
    background:linear-gradient(0deg,#598B45,#73B45F);
    color: white;
    border-radius: 5px;
    border: solid 1px rgba(36, 35, 35, 0.493);
}
.last-body-part {
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
.first {
    width: auto;
    margin: 5px;
    font-size: 12px;
    color: #666666;
}
.second {
    width: auto;
    margin: 10px;
    font-size: 15px;
    color: #666666;
}
